---
http_interactions:
- request:
    method: post
    uri: https://lakatan.dev/api/v1/bearers/tasks/1/raffles.json
    body:
      encoding: UTF-8
      string: '{"user_ids":[1,3]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer Bjc8Kq2v4k6Avxa1iMaG
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8; version=1
      Etag:
      - W/"fe5c6452beea1aa1c25512f2abfd6376"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"178","type":"raffle","attributes":{"task_id":1,"user_ids":[1]}}}'
  recorded_at: Fri, 22 Jan 2021 23:02:59 GMT
recorded_with: VCR 6.0.0
