---
http_interactions:
- request:
    method: get
    uri: https://lakatan.dev/api/v1/bearers/tasks/48.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8; version=1
      Etag:
      - W/"26d1ab1e90e96804fa97c04269b06841"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"48","type":"task","attributes":{"name":"Primera entrevista
        startup","goal":"Ir a la primera entrevista startup PV","team_id":100,"user_minimum":1,"raffle_type":"Equity","label_id":0,"created_at":"2020-12-28T18:33:30.379Z","updated_at":"2020-12-28T18:33:30.379Z"}}}'
  recorded_at: Thu, 21 Jan 2021 19:41:40 GMT
recorded_with: VCR 6.0.0
